
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
      .custom-map-control-button {
        background-color: #fff;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
        margin: 10px;
        padding: 0 0.5em;
        font: 400 18px Roboto, Arial, sans-serif;
        overflow: hidden;
        height: 40px;
        cursor: pointer;
      }
      .custom-map-control-button:hover {
        background: #ebebeb;
      }
      *{
        margin: 0;
        padding: 0;
    }
    
    .container{
        height: 100vh;
        width: 100%;
        background-image: url(../images/technicalpage.png);
        background-position: center;
        background-size: cover;
        padding-left: 5%;
        padding-right: 5%;
        box-sizing: border-box;
        position: relative;
        align-self: center;
    }
    
    .navbar{
        width: 100%;
        height: 15vh;
        margin: auto;
        display: flex;
        align-items: center;
        align-self: center;
        float: none;
    }
    
    .button{
        width: 40px;
        cursor: pointer;
    }
    
    nav{
        flex: 1;
        padding-left: 60px;
        align-items: center;
    }
    
    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 0px 20 px;
        align-self: center;
        align-items: center;
    }